<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Model1" connectionString="data source=quickcq.com;initial catalog=ESF_dev;user id=sa;password=1q2w!Q@W0p9o)P(O;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="ESF_devEntities" connectionString="metadata=res://*/DB.Account.Model1.csdl|res://*/DB.Account.Model1.ssdl|res://*/DB.Account.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=quickcq.com;initial catalog=ESF_dev;user id=sa;password=1q2w!Q@W0p9o)P(O;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Model11" connectionString="data source=quickcq.com;initial catalog=ESF_dev;user id=sa;password=1q2w!Q@W0p9o)P(O;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model12" connectionString="data source=quickcq.com;initial catalog=ESF_dev;user id=sa;password=1q2w!Q@W0p9o)P(O;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>