{
  "WXCode": "gh_af7a3135c84f",
  "AppID": "wx601741105928a01e",
  "AppSecret": "909d7142834bbe0a0d6143047008688b",
  "CheckToken": "123qwe",
  "MCHID": "1519460021",
  "KEY": "62c8ad0a15d9d1ca38d5dee762a16e01",
  "OAuthHost": "http://acapi.bjjtza.com/api/wx/getmsg",
  "PayReURL": "http://www.quickcq.com/",
  "IP": "192.168.1.1",
  "SSLCERT_PATH": "/cert/apiclient_cert.pem",
  "SSLCERT_PASSWORD": "1519460021",
  "BIZ": "",
  "send_name": "金泰注安",
  "openid_redirecturl": "http://acapi.bjjtza.com/api/wx/authopenid"
}