{ "WXCode":"","AppID": "wx7fc134dbb57b5e4e", "AppSecret": "1f726ddb654168c58004c54ab7f9134d", "CheckToken":"123qwe", "MCHID": "1519460021", "KEY": "62c8ad0a15d9d1ca38d5dee762a16e01", "OAuthHost": "http://www.quickcq.com/api/wechat/getmsg", "PayReURL": "http://www.quickcq.com/", "IP": "192.168.1.1", "SSLCERT_PATH": "/cert/apiclient_cert.pem", "SSLCERT_PASSWORD": "1519460021", "BIZ": "",send_name:"库克科技","openid_redirecturl":"http://www.quickcq.com/api/wechat/authopenid"}